
body{
   font-family: "Cera Pro";
   font-weight: 400;
   width: 100%;
   margin: 0 auto;

}

header{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;

  

  
}
.header-buttons {
  flex-shrink: 1;
}

.header-menu li {
  flex-shrink: 1;
}
.header-nav {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   min-width: 1200px;
   justify-content: space-between;
   margin: 0 auto;
   border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
   margin-bottom: 12px;
   margin-top: 5px;
  
  


}



.header-logo {
  padding: 1px 0px 17px 0px;


}

.header-buttons{
   display: flex;
   align-items:flex-start;
   flex-wrap: wrap;
   gap: 30px;
}
.login-button {
   display: flex;
   justify-content: center;
   gap: 4px;

   min-width: 100px;
   padding: 7px 17px;
   height: 35px;
   border: none;
   border-radius: 6px;
   background-color: rgba(70, 163, 88, 1);

   color: rgba(255, 255, 255, 1);
   font-weight: 500;
   font-size: 16px;
   line-height: 20.11px; 
   transition: all 0.3s;
   width: 42px;





}

.login-button:hover {

   background-color: rgba(70, 163, 88, 0.8); 
   cursor: pointer;

}
.cart, .search {
   border: none;
   background: transparent;
   cursor: pointer;
   padding-top: 8px;
}
.cart :active {
  color:rgba(70, 163, 88, 0.8); ;
}
.search :active {
  color:rgba(70, 163, 88, 0.8); ;
}


li a{
   text-decoration: none;
}


.header-menu {
   padding: 7px 0px 0px 0px;
   
   
}
.header-menu ul {
   display: flex;

   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   min-width: 351px;
   gap: 7px;

}
.header-menu li {
  min-width: 87px;
  position: relative;
 
}
.header-menu li:nth-child(4) {
  text-align: center;
 padding-left: 13px;
}
.header-menu li a {
   
   font-size: 16px;
   font-weight: 400;
   line-height: 20.11px;
   color: rgba(61, 61, 61, 1);
   padding-bottom: 26px;
   border-bottom: 3px solid transparent;
   transition: all 0.3s ease;
   min-width: 99px;


 } 
 .header-menu li a:hover  {
  
   font-weight: 700;
   border-bottom: 3px solid rgba(70, 163, 88, 1);
   
  
 }


.section-bg {
  background: linear-gradient(97.77deg, rgba(245, 245, 245, 0.5) -23.46%, rgba(245, 245, 245, 0.5) 107.51%);
width: 100%;
margin-bottom: 46px;


}
.cart {
  position: relative;
}
.ellipse {
  position: inherit;
  top: -29px;
  right: -12px;
  width: auto;
  height: auto;

}

.ellipse svg {
  width: auto;
  height: auto;
  max-width: 20px; 
  max-height: 20px; 
}

.ellipse text {
  font-size: 50%;} 

.welcome-block {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin: 0 auto;

}
.text-block, .image-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
 
}
.image-block {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  position: relative;

}
.text-block {
  padding-left: 40px;
  
 

}
.text-block p {

font-size: 14px;
font-weight: 400;
line-height: 24px;
color: rgba(114, 114, 114, 1);
padding-bottom: 43px;


}
.text-block h2 {
  font-size: 70px;
  font-weight: 900;
  line-height: 70px;
  color: rgba(61, 61, 61, 1);
  padding-bottom: 5px;


}
.text-block h1 { 
 
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.1em;
  color: rgba(61, 61, 61, 1);
  padding-bottom: 7px;
}

span {
  color:rgba(70, 163, 88, 1); ;
}
.shop-now {
  min-width: 140px;
  height: 40px;
  padding: 11px 27px 9px 26px;
  border: none;
  border-radius: 6px;
  background-color: rgba(70, 163, 88, 1);
  cursor: pointer;

  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  line-height: 20px; 
  font-weight: 700;
  transition: all 0.3s;

}

.shop-now:hover {
  background-color: rgba(70, 163, 88, 0.8); 
   cursor: pointer;
}

.plant1 {
  position: relative;
  left: -8%;
  top: 1%;
}
.plant2 {
  position: relative;
  left: 18%;
  top: -1%;
  z-index: 0;
}

nav ul .second-menu{

  display: none;

}


nav ul li:hover .second-menu {
  display: block;
  position: absolute;
  top: 102%;
  left: -49%;
 
}

.second-menu li:hover {

  background: rgba(26, 113, 42, 1);
  color: rgba(255, 255, 255, 1);
  border: 1px solid transparent; 
}
nav ul li ul {
  display: block;
  gap: 5px;
  background:  rgba(237, 246, 238, 1);
  

}

.second-menu {

  padding-top: 40px;
  z-index: 20;
  min-width: 188px;

 
}
.second-menu, .third-menu {
  display: none;

  
}


.second-menu li:hover .third-menu {
  display: block;
  position: absolute;
  padding-left: 140px;
  top: -316%;
  left: 26%;

  min-width: 178px;
  
}

nav ul li ul {

 padding-left: 14px;
  background:  rgba(237, 246, 238, 1);
  
}


.second-menu ul {
  min-width: 188px;
  gap: 0px;
}

.third-menu ul {
  min-width: 178px;
  gap: 0px;
  padding-bottom: 0px;
  

}
.second-menu ul, .third-menu ul {
  width: 100%; 
  padding: 0;
  margin: 0;
  transition:all 0.3s ease ;


}
.second-menu li:nth-child(4) {
  padding-left: 0px;
  
}
.second-menu li {
  width: 100%; 
  border: 1px solid transparent;

  transition:all 0.3s ease ;
  
}
.third-menu li{
  width: 100%; 
  border: 1px solid transparent;

  transition:all 0.3s ease ;

  

}


.second-menu li a{
  padding: 7px 0px 8px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%; 
  

  
  
}
.second-menu li :hover {
  color: rgba(255, 255, 255, 1);

}

.third-menu  li :hover {
      color: rgba(255, 255, 255, 1);
  }
.second-menu li:hover svg {
     transform: rotate(180deg);
  }

.second-menu ul li :hover {
        border-bottom: 3px solid transparent;
}


.third-menu ul li :hover {
  border-bottom: 3px solid transparent;
 
}





.shop-products {
  max-width: 1200px;
  margin: 0 auto;
 display: flex;
}


.categories  {
    
  width: 310px;
  background: rgba(251, 251, 251, 1);
  font-size: 15px;
  font-weight: 400;
  line-height: 40px;
  margin-right: 50px;
  flex-shrink: 0;
 
 
  
}
.aside-categories  {
  padding-bottom: 200px;

}
.aside-size {
  padding-bottom: 19px;
}
.sale-banner {
  padding-bottom: 0px;

}

.aside-categories, .aside-size
{
  display: flex;
  flex-direction: column;

}
.categories li a {
  display: block;
  text-decoration: none;
  color:rgba(61, 61, 61, 1);
  padding-left: 30px;
 
  
}

.tabs ul li{
  min-width: 89px;
  padding-bottom: 5px;



}
.tabs li:last-child {
  padding-left: 25px;
 

}
.categories a:active
{ 
  color: rgba(70, 163, 88, 1);
  font-weight: 700;

}  
.categories a:focus{ 
  color: rgba(70, 163, 88, 1);
  font-weight: 700;}  
 
 .categories h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
  color: rgba(61, 61, 61, 1);
  padding: 14px 0px 7px 18px;
}

select {
  border: none;

}

.produkt-filter a:hover {
 border-bottom: 2px solid rgba(70, 163, 88, 1);
  transition: 0.2s;
  color: rgba(70, 163, 88, 1);
  font-weight: 700;
  
} 
.produkt-filter a {
  text-decoration: none;
  color: rgba(61, 61, 61, 1);
 
}
 .produkt-filter{
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  color: rgba(61, 61, 61, 1);
  display: flex;
  padding-bottom: 33px;
  justify-content: space-between;
  flex-wrap: wrap;
  
 }
.tabs ul {
display: flex;

gap:13px;
flex-wrap: wrap;
 
}
.tabs li a {
  padding-bottom: 5px;
}
.produkt-item {
  display: flex;
  flex-direction: column;
  width: 258px;
  height: 350px;
  border-top: 1px solid transparent;
  transition: all 0.5s  ease;
  position: relative;

}
.produkt-item-image {
  background-color:rgba(251, 251, 251, 1);
  padding: 0px 0px 30px 0px;

}
.produkt-item-name {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: rgba(61, 61, 61, 1);
  padding-top: 12px;

}
.pagination {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 90px;
  column-gap: 10px; 
  margin-bottom: 146px;

}
.pagination-btn { 
  width: 35px;
  height: 35px;
  background-color:rgb(255, 255, 255) ;
  padding: 10px 10px;
  padding-right: 10px; 
  border: 1px solid rgba(229, 229, 229, 1);
  border-radius: 4px;
  color: rgba(61, 61, 61, 1);
  transition: all 0.5s ease;
 display: flex;
 justify-content: center;
 align-items: center;
}
.pagination-btn:hover {
  background-color: rgba(70, 163, 88, 1);
  color:rgb(255, 255, 255) ;
  font-weight: 700;
  
}
.pagination-btn:active {
  background-color: rgba(70, 163, 88, 1);
  color:rgb(255, 255, 255) ;
  font-weight: 700;} 

.pagination-btn:visited {
  background-color: rgba(70, 163, 88, 1);
  color:rgb(255, 255, 255) ;} 

  .pagination-btn svg:active {color:rgb(255, 255, 255) ;

  }
   
main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

} 
.produkt-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 70px;
  flex-grow: 1;
}
article a {
  text-decoration: none;

}
.icon-button {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  position: absolute; 
  bottom: 70px;
  left: 67px;


}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: rgba(255, 255, 255, 1);
  padding: 7px;
  border: none;
  opacity: 0;
  transition: all 0.5s ease;
  cursor: pointer;
 

}
.produkt-item:hover .icon {
  opacity: 1;

}
.icon svg  {
  color: rgba(61, 61, 61, 1);
  transition: all 0.5s ease;

} 
.icon:hover svg {
  color: rgba(70, 163, 88, 1);
 

}   
.produkt-item:hover {
  border-top: 1px solid rgba(70, 163, 88, 1);

}
.produkt-item-price {
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
  color: rgba(70, 163, 88, 1);
  display: flex;
  align-items: center; 
  padding-top: 6px;

}
.discounted-price {
font-size: 18px; 
font-weight: 700; 
color: rgba(70, 163, 88, 1);
position: absolute;
bottom: 18px;

}
.produkt-item:nth-child(3) .produkt-item-price {
opacity: 1;
color: rgba(61, 61, 61, 0.5); 
text-decoration: line-through;  
position: absolute;
right: 111px;
font-size: 18px;
font-weight: 400;
line-height: 16px;


}
.sale-badge {
position: absolute;
margin-top: 14px;
background: rgba(70, 163, 88, 1);
color: white;
padding: 6px 0px;
width: 80px;
font-size: 16px;
font-weight: 500;
text-align: center;
visibility:hidden; 

}
.produkt-item:nth-child(3) .sale-badge {
  visibility:visible;
  
}
.produkt-item:nth-child(3) .icon-button {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  position: absolute; 
  bottom: 70px;

}


.up-blog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 28px;
  margin-top: 52px;
  margin-bottom: 138px; 

}
.blog-item {
  

  display: flex;
  align-items: flex-start;
  flex: 1 1 250px;
  min-width: 586px;
  justify-content: space-between;
  min-height: 250px;
  background:  rgba(251, 251, 251, 1);
   

}
.about-article {
  display: flex;
  flex-direction: column; 
  padding-top: 37px;
  text-align: end;
  gap: 9px;
  padding-right: 38px;

 
}
.about-article p::after {
  content: "wide";
  display: inline;
  white-space: nowrap;} 

.about-article h4 {

  font-size: 18px;
  font-weight: 900;
  line-height: 24px;
  color: rgba(61, 61, 61, 1);

}
.about-article p {
 
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(114, 114, 114, 1);
  padding-right: 0px;

}  
 .blog .button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self:flex-end;
  transition: all 0.5s ease;

  min-width: 140px;
  background: rgba(70, 163, 88, 1);
  border: 0px;
  border-radius: 6px;

  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding: 9px 28px;
  gap: 5px;
  margin-top: 17px;
  transition: all 0.3s ease;
  
}
.blog-posts{
  display: flex;
  flex-direction: column;
 align-items: center;
 gap: 15px;
 margin-bottom: 35px;

}
.blog .button:hover {
  background-color: rgba(70, 163, 88, 0.8);
    border-color: rgba(70, 163, 88, 0.7);
   
    cursor: pointer;

}


.blog-posts h5 {
 
  font-size: 30px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  color: rgba(61, 61, 61, 1);
}
.blog-posts p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(114, 114, 114, 1);

}
.post-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
 
}
 .post-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 268px;
  background: rgba(251, 251, 251, 1);

}

.about-post {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content:left;
  gap: 4px;
  padding: 9px 11px 12px 15px;
  
}
.special p {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px; 

}
.special  {
  color: rgba(70, 163, 88, 1);
  margin: 0;
 
}
.about-post h6 {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  color: rgba(61, 61, 61, 1);   

}
.about-post p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 0;
  padding-right: 0;

}
.about-post {
  color: rgba(114, 114, 114, 1);
}

.post-link {
  display: flex;
  justify-content: left;
  text-decoration: none;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: rgba(61, 61, 61, 1);
  gap: 5px;
  margin-top: 5px;


}
.post-link img {
  display: inline-block;   
  width: 16px;
  transition: color 0.3s

}
.post-link:hover {
  color: rgba(70, 163, 88, 1);
}

.post-link:hover img {
  filter: brightness(0) saturate(100%) invert(47%) sepia(67%) saturate(586%) hue-rotate(82deg) brightness(95%) contrast(91%);

}
.image-container {
  
   position: relative;
   top: -52px;
}
 .blog {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 100px;
 }

  .shop-info {
    max-width: 1200px;
    margin: 0 auto;
  }
  .footer-bg1 {
    width: 100%;
    background: rgba(251, 251, 251, 1);
  }
.about-shop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
   
 
    padding: 30px 0px 20px 0px;
    background-image: 
    url('../img/background_1.svg'),
    url('../img/background_2.svg'),
   url('../img/background_3.svg');
    background-repeat: no-repeat;
    background-position: 2% 15%, 26% 17%, 50% 17%;
}
.about-shop article {
    display: flex;
    flex-direction: column;
   width: 80%;
    gap: 9px;
   
   
}

.about-shop article:nth-child(1) {
  padding: 100px 34px 0px 23px;
}
.about-shop article:nth-child(2) {
  padding: 100px 27px 0px 26px;
}
.about-shop article:nth-child(3) {
  padding: 100px 62px 0px 35px;
}
.join {
  display: flex;
  flex-direction: column ;
  padding-right: 25px ;
  gap: 25px;

 
}
.join-container {
  display: flex;
  justify-content: center; 
}
.article-header, .join-submit {

  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  color: rgba(61, 61, 61, 1);



}
.article-text, .join-text {
  font-size: 13px;
  font-weight: 400; 
  line-height: 22px;
  color: rgba(114, 114, 114, 1);
 

}

.about-shop article:nth-child(1),
.about-shop article:nth-child(2) {
    border-right: 1px solid rgba(70, 163, 88, 0.1);


}
.contact-bg {
  width: 100%;
  background: linear-gradient(90deg, #EDF6EF 0%, #52C368 100%);



}
.contact-container {
max-width: 1200px;
margin: 0 auto;

}

.contacts {
    display: flex;
   flex-wrap: wrap;
    padding: 27px 22px 27px 23px;
    gap: 77px;
 
    
    }

    .contact-info {
      display: flex;
      flex-wrap: wrap;
      align-items:flex-start;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      color: rgba(61, 61, 61, 1);
    
  }
  .contact-img {
      display: flex;
      align-items: center;
      gap: 9px;
  
  }
  .contact-info a {
      text-decoration: none;
      font-size: 14px;
      font-weight: 400;line-height: 22px;
      color:  rgba(61, 61, 61, 1);
  }
  
  
  
  .submit {
      display: flex; 
      align-items: center; 
      
     
  }
  
  .submit input[type="email"] {
    box-sizing: border-box;
      width: 269px; 
      height: 40px; 
      font-size: 14px; 
      border: 1px solid transparent; 
      border-radius: 6px 0 0 6px; 
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.06);
    
  
  }
  .submit input[type="email"], [placeholder] {
    padding: 0;
    border: none;
      padding-left: 11px;
      color: rgba(172, 172, 172, 1);
  }
  
  .submit input[type="email"]:focus {
      outline: none;
      box-shadow: 0px 0px 20px 0px rgba(169, 215, 178, 0.822) ;
  
  }
  
  .submit input[type="submit"] {
      min-width: 85px;
      padding: 10px 25px 10px 26px; 
      font-size: 16px; 
      font-weight: 700;
      color: rgba(255, 255, 255, 1); 
      background-color: rgba(70, 163, 88, 1);
      border: 1px solid transparent; 
      border-radius: 0 6px 6px 0;
      cursor: pointer;
      transition: all 0.5s ease;
      
  }
  
  .submit input[type="submit"]:hover {
      background-color: rgba(70, 163, 88, 0.8); 
      border-color: rgba(70, 163, 88, 0.7); }

  .footer {
        background-color: rgba(251, 251, 251, 1);
        padding: 28px 0px 22px;
        color: rgba(61, 61, 61, 1);
       
    }
    
    .footer-content {
        display: flex;
        justify-content: space-between;
        padding-bottom: 29px;
        max-width: 1200px;
        margin: 0 auto;
       
    }
    
    .footer-nav {
        flex: 1;
        padding-left: 25px;
        width: 70%;
    }
    
    .footer-nav h3, .extra-section h3 {
        font-size: 18px;
        font-weight: 700;
        padding-bottom: 10px;
    }
    
    .footer-nav ul {
        list-style: none;
    }
    
    .footer-nav ul li {
        padding-bottom: 8px;
    }
    
    .footer-nav ul li a {
        text-decoration: none;
        font-size: 14px;
        color: rgba(61, 61, 61, 1);
        line-height: 22px;
    }
    
    .extra-section {
        display: flex;
        flex-direction: column;
        width: 30%;
        
    }
    
    .social-media {
        padding-bottom: 33px;

    }
    
   
    .social-icons ul {
        list-style: none;
        display: flex; 
        gap: 10px; 
    }
    
    .social-icons li {
        display: inline-block;
        
    }
    
    .social-icons a {
        display: inline-block;
        color:  rgba(70, 163, 88, 0.6)
        ; 
        transition: all 0.5s ease;
       
    }
    .social-icons li:hover a {
        color: rgba(70, 163, 90, 1) ;
        ;
       
    }
    .social-icons {
        padding-bottom: 33px;
    }
    .footer-bottom {
        text-align: center;
        padding-top: 6px;
        font-size: 14px;
        color: rgba(114, 114, 114, 1);
        border-top: 1px solid rgba(70, 163, 88, 0.2);
    }

    .pagination-btn:first-child {
      background-color: rgba(70, 163, 88, 1);
      color: rgb(255, 255, 255);
      font-weight: 700;
    }